.item-add-form {
    display: flex;
    justify-content: space-between;
}

.line-to-add {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 5px;
    margin-right: 5px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.line-to-add::placeholder {
    color: #212529;
    opacity: 0.4;
}

.line-to-add:focus {
    --border-color: #9ebff9;
    color: #212529;
    background-color: #fff;
    border-color: var(--border-color);
    outline: 0;
    box-shadow: 0 0 0 2px var(--border-color);
}

.button-to-add {
    --gray-color: #727272;
    background-color: #ffff;
    border: 1px solid var(--gray-color);
    color: var(--gray-color);
    transition: 0.5s;
    border-radius: 4px;
}

.button-to-add:hover {
    color: #ffff;
    background-color: var(--gray-color);
    box-shadow: 0 0 3px var(--gray-color);
    transition: 0.5s;
}